In [18]:
import pandas as pd
import numpy as np

In [2]:
a=[i for i in range(1,27)]

pd.DataFrame(data=a,
            index='a b c d e f g h i j k l m n o p q r s t u v w x y z'.split())

    0
a   1
b   2
c   3
d   4
e   5
f   6
g   7
h   8
i   9
j  10
k  11
l  12
m  13
n  14
o  15
p  16
q  17
r  18
s  19
t  20
u  21
v  22
w  23
x  24
y  25
z  26

In [37]:
arr=np.random.randint(1,5, size=100)

df = pd.Series(arr)
df

0     3
1     4
2     3
3     4
4     2
     ..
95    4
96    2
97    2
98    3
99    4
Length: 100, dtype: int32

In [38]:
df.value_counts()

2    28
4    27
3    24
1    21
dtype: int64

In [42]:
df.value_counts().sort_values(ascending=False).head(2)

2    28
4    27
dtype: int64

In [43]:
import seaborn as sns
mpg = sns.load_dataset('mpg')

In [44]:
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [46]:
mpg.describe(include=object)

       origin        name
count     398         398
unique      3         305
top       usa  ford pinto
freq      249           6

In [47]:
mpg.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'name'],
      dtype='object')

In [50]:
mpg.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
name            0
dtype: int64