In [11]:
labels = ['B','C','D']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

In [12]:
pd.Series(data=my_list,index=labels)

B    10
C    20
D    30
dtype: int64

In [13]:
pd.Series(arr,labels)

B    10
C    20
D    30
dtype: int32

In [26]:
a=[i for i in range (1,5)]
b=[i for i in range (5,9)]
c=[i for i in range (9,13)]

In [29]:
pd.DataFrame(data=[a,b,c],
            index='A B C'.split(),
            columns='w x y z'.split())

   w   x   y   z
A  1   2   3   4
B  5   6   7   8
C  9  10  11  12

In [31]:
pd.DataFrame(data=list(zip(a,b,c)),
            index='w x y z'.split(),
            columns='a b c'.split())

   a  b   c
w  1  5   9
x  2  6  10
y  3  7  11
z  4  8  12

In [64]:
from numpy.random import randn
np.random.seed(10)

df=pd.DataFrame(randn(5,4),
    index='A B C D E'.split(),
    columns='W X Y Z'.split())
df

          W         X         Y         Z
A  1.331587  0.715279 -1.545400 -0.008384
B  0.621336 -0.720086  0.265512  0.108549
C  0.004291 -0.174600  0.433026  1.203037
D -0.965066  1.028274  0.228630  0.445138
E -1.136602  0.135137  1.484537 -1.079805

In [65]:
df['W+Y']=df['W'] + df['Y']
df

          W         X         Y         Z       W+Y
A  1.331587  0.715279 -1.545400 -0.008384 -0.213814
B  0.621336 -0.720086  0.265512  0.108549  0.886848
C  0.004291 -0.174600  0.433026  1.203037  0.437318
D -0.965066  1.028274  0.228630  0.445138 -0.736436
E -1.136602  0.135137  1.484537 -1.079805  0.347935

In [69]:
df.reset_index()

  index         W         X         Y         Z       W+Y
0     A  1.331587  0.715279 -1.545400 -0.008384 -0.213814
1     B  0.621336 -0.720086  0.265512  0.108549  0.886848
2     C  0.004291 -0.174600  0.433026  1.203037  0.437318
3     D -0.965066  1.028274  0.228630  0.445138 -0.736436
4     E -1.136602  0.135137  1.484537 -1.079805  0.347935

In [70]:
newstates='CA NY WY OR CO'.split()
df['States']=newstates
df.set_index('States')

               W         X         Y         Z       W+Y
States
CA      1.331587  0.715279 -1.545400 -0.008384 -0.213814
NY      0.621336 -0.720086  0.265512  0.108549  0.886848
WY      0.004291 -0.174600  0.433026  1.203037  0.437318
OR     -0.965066  1.028274  0.228630  0.445138 -0.736436
CO     -1.136602  0.135137  1.484537 -1.079805  0.347935