# Pandas Exercise

We have a data about spotify top 100 songs in 2018 from kaggle.

Data Description :

*   Spotify URI for the song
*   Name of the song
*   Artist(s) of the song
*   Audio features for the song (such as danceability, tempo, key etc.) : 
     1. danceability : Danceability describes how suitable a track is for dancing based on a combination of musical elements including tempo, rhythm stability, beat strength, and overall regularity. A value of 0.0 is least danceable and 1.0 is most danceable.
     
     2. tempo : The overall estimated tempo of a track in beats per minute (BPM). In musical terminology, tempo is the speed or pace of a given piece and derives directly from the average beat duration.
     
     3. duration_ms : The duration of the track in milliseconds.

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('02. top2018.csv')

In [8]:
data.head()

,id,name,artists,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature
0,6DCZcSspjsKoFjzjrWoCd,God's Plan,Drake,0.754,0.449,7.0,-9.211,1.0,0.1090,0.0332,0.000083,0.552,0.357,77.169,198973.0,4.0
1,3ee8Jmje8o58CHK66QrVC,SAD!,XXXTENTACION,0.740,0.613,8.0,-4.880,1.0,0.1450,0.2580,0.003720,0.123,0.473,75.023,166606.0,4.0
2,0e7ipj03S05BNilyu5bRz,rockstar (feat. 21 Savage),Post Malone,0.587,0.535,5.0,-6.090,0.0,0.0898,0.1170,0.000066,0.131,0.140,159.847,218147.0,4.0
3,3swc6WTsr7rl9DqQKQA55,Psycho (feat. Ty Dolla $ign),Post Malone,0.739,0.559,8.0,-8.011,1.0,0.1170,0.5800,0.000000,0.112,0.439,140.124,221440.0,4.0
4,2G7V7zsVDxg1yRsu7Ew9R,In My Feelings,Drake,0.835,0.626,1.0,-5.833,1.0,0.1250,0.0589,0.000060,0.396,0.350,91.030,217925.0,4.0

## 1. Show Top 10 artists with the largest presence in the top 100 spotify songs in 2018

In [40]:
data['artists'].value_counts().sort_values(ascending=False).head(10)

Post Malone       6
XXXTENTACION      6
Drake             4
Marshmello        3
Ed Sheeran        3
Khalid            2
Dua Lipa          2
Maroon 5          2
Calvin Harris     2
Camila Cabello    2
Name: artists, dtype: int64

## 2. What is the longest duration of the top 100 spotify songs in 2018 ?

In [36]:
data['duration_ms'].max()

417920.0

## 3. Who and what songs has the longest duration of the top 100 spotify songs in 2018 ?

In [29]:
data[['artists','name','duration_ms']].sort_values('duration_ms',ascending=False).head(1).drop('duration_ms',axis=1)

       artists             name
21  Nio Garcia  Te Bot? - Remix

## 4. Show the total duration from the artists in the top 100 spotify songs in 2018 !

In [74]:
duration=data[['artists','duration_ms']].groupby('artists').sum().sort_values('duration_ms',ascending=False)
duration

                   duration_ms
artists
Post Malone          1342027.0
Drake                 866259.0
XXXTENTACION          784703.0
Ed Sheeran            756663.0
Marshmello            597734.0
...                        ...
Portugal. The Man     163253.0
Loud Luxury           163216.0
Dennis Lloyd          156600.0
Lil Baby              142273.0
Bazzi                 131064.0

[70 rows x 1 columns]

## 5. Who artists has the average fastest tempo in the top 100 spotify song 2018 ?

In [73]:
tempo=data[['artists','tempo']].groupby('artists').mean().sort_values('tempo',ascending=False)
tempo

                     tempo
artists
Maluma             198.075
Keala Settle       191.702
Nicky Jam          180.073
ZAYN               180.043
Piso 21            170.019
...                    ...
benny blanco        89.391
G-Eazy              87.908
Juice WRLD          83.903
Natti Natasha       79.997
Portugal. The Man   79.028

[70 rows x 1 columns]

## 6. Who artists has the average danceable songs in the top 100 spotify song 2018 ?

In [72]:
dance=data[['artists','danceability']].groupby('artists').mean().sort_values('danceability',ascending=False)

               danceability
artists
Lil Baby              0.964
6ix9ine               0.931
BlocBoy JB            0.922
Wolfine               0.909
Nio Garcia            0.903
...                     ...
DJ Khaled             0.552
Juice WRLD            0.511
Billie Eilish         0.351
Keala Settle          0.284
ZAYN                  0.258

[70 rows x 1 columns]

## 7. Can we achieve the information from the last 3 exercise in just 1 line ?

In [77]:
semua=pd.merge(pd.merge(duration,tempo,on='artists'),dance,on='artists')
semua.sort_values('artists')

                     duration_ms    tempo  danceability
artists
5 Seconds of Summer     203418.0  120.274      0.596000
6ix9ine                 179405.0  125.978      0.931000
Anitta                  193456.0  166.008      0.775000
Anne-Marie              186987.0   96.133      0.697000
Ariana Grande           403467.0  133.512      0.650500
...                          ...      ...           ...
XXXTENTACION            784703.0  110.496      0.788833
ZAYN                    239000.0  180.043      0.258000
Zac Efron               217440.0  125.046      0.684000
Zedd                    184732.0  107.010      0.753000
benny blanco            173800.0   89.391      0.560000

[70 rows x 3 columns]